{% extends "root.html" %}
{% block content %}

<div
        class="p-3 mb-2 bg-primary text-white">
    <h3 class="text-center">Район, в котором хочется жить</h3>
</div>
<img src="https://porjadok.kvado.ru/photo/thumb?thumb=mainPage&filename=5d9e241ad491d856653486%2F5d9f8671daad7482336269.jpg" class="img-fluid" >

<p> Дома, обслуживаемые ООО «Эстейт профф» отличаются от типовой застройки г. Иваново
    как по показателям жилой площади и площади благоустройства, так и по оснащенности
    современными инженерными системами.</p>
<p> Специалисты управляющей организации постоянно взаимодействуют с проектными организациями,
    строительными и производственными подразделениями СК «Голос.Девелопмент», СК «Никс», СК «Бетотек».</p>
<h6> Наши основные задачи:</h6>
<p> качественное оказание услуг собственникам помещений в доме,</p>
<p> сохранение целостности жилого фонда,</p>
<p> поддержание бесперебойной работы всех систем жизнеобеспечения.</p>

<p>Но главная цель - комфорт наших жителей, только в процессе диалога рождаются эффективные,
    системные решения, только при совместной инициативе дома сохраняют свой уют
    на протяжении долгих лет.</p>
<h6>Для удобства жителей внедрены:</h6>
<p>- Круглосуточная аварийная служба;</p>
<p>- Круглосуточный единый контакт-центр;</p>
<p>- Мобильное приложение «ЖК Космос» в котором можно оплатить
    услуги без комиссии в пару кликов, оставить обращение в управляющую
    организацию и отслеживать стадию его выполнения, просмотреть камеры
    видеонаблюдения, ознакомиться с новостями управляющей организации и календарём событий;</p>
<p>- Современный сайт с полной информацией об управляющей организации;</p>



{% endblock %}