{% extends "root.html" %}
{% block content %}

<h1> Услуги </h1>
<h3 class="fw-light">В этом разделе вы можете познакомиться со стоимостью платных услуг, которые предоставляет управляющая компания и подрядные организации, а также узнать о порядке расчёта стоимости и правилах оплаты.</h3>

<p> <a href="#" class="text-reset">Прайс-лист на платные услуги ООО «Мой дом Урал»</a></p>
<p> <a href="#" class="text-reset">Прайс-лист на санитарно-технические и электромонтажные работы</a></p>

<h3 class="text-center"> Порядок оказания платных услуг:</h3>
<div class="d-grid gap-3">
  <div class="p-2 bg-light border">- Подать заявку на выполнение работ по телефону объединенной диспетчерской службы +7(351)734-99-04.</div>
  <div class="p-2 bg-light border">- После получения заявки с Вами созвонится представитель подрядной организации и согласует дату и время проведения обследования. Во время обследования будет определён фактический объём работ и расчёт цены. !!! Обратите внимание! Окончательная стоимость услуг рассчитывается индивидуально, после обследования, проведённого специалистами компании.</div>
  <div class="p-2 bg-light border">- Далее нужно оплатить озвученную специалистом стоимость работ в пункте приёма платежей системы «Город». При оплате нужно назвать кассиру: название подрядной организации, заказанную услугу, сумму, рассчитанную при обследовании.</div>
      <div class="p-2 bg-light border">- После оплаты сообщить по телефону +7(351)734-99-04 сообщить диспетчеру: о выполнении платежа, номер операции по кассовому чеку, сумму оплаты, название организации, для которой был произведён платёж. И отметить, что его оплачивали по системе "Город".</div>
  <div class="p-2 bg-light border">После чего согласовать дату и время выполнения работ.</div>
  <div class="p-2 bg-light border">После согласования с Вами даты и времени выполнения работ к Вам прибудет сотрудник подрядной организации, выполнит заказанные Вами работы и предоставит документы, подтверждающие факт оплаты и выполнения работ.</div>
</div>




{% endblock %}
